<?xml version="1.0"?>
<configuration>
  <configSections>
                  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.2075" newVersion="1.4.0.2075"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="MyServiceImplServiceSoapBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false"  hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/test-ws/services/WS"
        binding="customBinding" bindingConfiguration="MyServiceImplServiceSoapBinding"
        contract="localhost.MyService" name="MyServiceImplPort" />
    </client>
  </system.serviceModel>
</configuration>
